[Unit]
Description=Sync Photobooth Output S3 with Local

[Service]
ExecStart=/usr/bin/pbsync.sh
User=ec2-user
Group=ec2-user

[Install]
WantedBy=multi-user.target
